@import "tailwindcss";

/* Custom CSS Font */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Cabin Sketch";
  src: url("../src/assets/font/CabinSketch-Bold.ttf") format("truetype");
}

.font-cabin-sketch {
  font-family: "Cabin Sketch", cursive;
  font-size: 30px;
}

@font-face {
  font-family: "Kreon";
  src: url("../src/assets/font/Kreon-Regular.ttf") format("truetype");
}

.font-kreon {
  font-family: "Kreon", sans-serif;
}

@font-face {
  font-family: "Italianno";
  src: url("../src/assets/font/Italianno-Regular.ttf") format("truetype");
}

.font-italianno {
  font-family: "Italianno", cursive;
  font-size: 40px;
}

/* Custom CSS body */

html,
body {
  display: flex;
  flex-direction: column;
  font-family: "poppins", sans-serif;
}

main {
  flex: 1; /* Agar konten mendorong footer ke bawah */
}

#chatbase-bubble-button {
  bottom: 80px !important; /* Sesuaikan nilai ini */
  right: 25px !important;
  z-index: 2147483647 !important;
}

#chatbase-bubble-window {
/* Sesuaikan nilai ini */
  right: 100px !important;
}

@media screen and (max-width: 768px) {
  #chatbase-bubble-window {
    width: 90% !important; /* Menyesuaikan lebar dengan layar */
    max-width: 350px !important; /* Maksimum ukuran */
    right: 100px !important; /* Posisikan lebih dekat ke tepi */
    bottom: 80px !important; /* Sesuaikan posisi dari bawah */
  }
}

#chatbase-bubble-button svg path {
  fill: white; /* Warna default ikon */
}

.dark #chatbase-bubble-button svg path {
  fill: black; /* Warna ikon saat mode gelap aktif */
}

#chatbase-bubble-button {
  background-color: black  !important;
}

.dark #chatbase-bubble-button {
  background-color: white !important;
}
